<!DOCTYPE html>
    
<html>
<head>
<link href="/static/bootstrap-3.3.7/css/bootstrap.css"rel="stylesheet">
<link href="/static/css/main.css"rel="stylesheet">


</head>
<body >
 

    <div class="container">
 <div class="row">
  <div class="col-md-12">
     
 <div class="pull-left">    
    
 <a href='http://www.colibrisharing.net#/'>  
 <img src="/static/img/logo2.png"></img>
</a> 
     
</div> 



  </div>

 </div>
     <div class="row">
  <div class="col-md-12">
    
Esiste già un utente con questa e-mail
</div>
  </div>
     </div>





 <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>



</body>
</html>