<!DOCTYPE html>
    {% load static %}
<html>
<head>
<link href="{% static "bootstrap-3.3.7/css/bootstrap.css" %}"rel="stylesheet">

</head>
<body >
 

    <div class="container" ng-app="colibri" ng-controller="booksController as ctrl">
 <div class="row">
  <div class="col-md-6">
   <div >
    User: 
    {{user.username}}
 </div>
   <ul>
<li><a href="#/test">test</a></li>
</ul>
    <div class="content" >
    <div class="panel" ng-repeat="book in ctrl.books">
        <span class="status" ng-bind="book.title"></span>
       
    </div>
   <button ng-click="ctrl.getBooks()">
Get books
</button>

</div>
  </div>
  <div class="col-md-6">
    <div>
<form name="loginForm"
ng-submit="ctrl.login()">
<input type="text"
placeholder="user"
ng-model="ctrl.login_data.username"
>
<input type="password"
placeholder="password"
ng-model="ctrl.login_data.password"
>
<input type="submit"
value="Login"
ng-disabled="addForm.$invalid">
</form>
</div>
    <div style="white-space:pre;">
       <span ng-bind="response"></span> 
    </div>
    
  </div>
 </div>
 <div ng-view></div>
</div>



<!--<script src="{% static "underscore/underscore.js" %}"></script>-->
 <script>
 var static_url = '{{STATIC_URL}}';
 //console.log static_url
 </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"> </script>
<!--<script src="xml2json/xml2json.js"></script>-->
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/services.js" %}"></script>
<script src="{% static "js/controllers.js" %}"></script>
<!--<script src="js/services.js"></script>
<script src="js/script.js"></script>-->


</body>
</html>