Django==1.8
django-cors-headers==1.2.2
django-debug-toolbar==1.6
django-extensions==1.7.4
djangorestframework==3.5.1
gunicorn==19.6.0
oauthlib==2.0.0
psycopg2==2.6.2
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.21
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
sqlparse==0.2.2
