<!DOCTYPE html>
    {% load static %}
    {% load i18n %}
<html>
<head>
<link href="{% static "bootstrap-3.3.7/css/bootstrap.css" %}"rel="stylesheet">
<link href="{% static "css/main.css" %}"rel="stylesheet">

<style>
.input-mandatory.ng-valid {
border:1px solid green;
 border-radius: 5px;
 padding:4px;
}
.input-mandatory.ng-invalid-required {
border:1px solid red;
 border-radius: 5px;
 padding:4px;
}
.autore.ng-valid {
border:1px solid green;
 border-radius: 5px;
 padding:4px;
}
.autore.ng-invalid-required {
border:1px solid red;
 border-radius: 5px;
 padding:4px;
}
</style>
</head>

<body>

<div id="main-region" class="container">
      
   
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
    {% url "acct_passwd_reset" as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}</p>
{% else %}
    {% if form %}
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset>
                {{ form }}
            </fieldset>
            <div class="actions">
                 <button type="submit" class="btn primary">{% trans "change password" %}</button>
            </div>
        </form>
    {% else %}
        <p>{% trans "You successfully changed your password!" %}</p>
        <p>Vai alla <a href="/login">pagina</a> per accedere</p>
    {% endif %}
{% endif %}
 </div>
</body>