{% include "ui/base.html" %}
{% load i18n %}
<body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#_nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#about">
      
      </a>
    </div>
      <div class="collapse navbar-collapse" id="_nav-menu" >
        <ul class="nav navbar-nav">
      </ul>
      <div class="btn-toolbar">

      </div>

       </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div id="main-region" class="container">
      
   
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
    {% url "acct_passwd_reset" as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}</p>
{% else %}
    {% if form %}
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset>
                {{ form }}
            </fieldset>
            <div class="actions">
                 <button type="submit" class="btn primary">{% trans "change password" %}</button>
            </div>
        </form>
    {% else %}
        <p>{% trans "You successfully changed your password!" %}</p>
        <p>Vai alla <a href="/">Home page</a> per accedere</p>
    {% endif %}
{% endif %}
 </div>
</body>