.content{
    margin-top: 15px;
    background-color: #efeae6;
    border-radius: 5px;
    -webkit-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
-moz-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
padding:10px;
height:auto;
}

.loading {
    width: 100px;
    height: 100px;
    background-image: url('img/ajax-loader.gif') ;
    background-repeat: no-repeat;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.formBox{
    margin-top: 5px;
    background-color: #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
-moz-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
padding:10px;
width:40%
}

.introBox{
    margin-top: 5px;
/*    font-size: larger;
*/    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
-moz-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
padding:10px;
width:40%
}

.showOwner{
    width   : 100%;
    position:relative;
    background-color: #ffffff;
    -webkit-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
-moz-box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
box-shadow: -3px -1px 5px 0px rgba(171,161,159,1);
    border-radius: 5px;
    padding:5px;
}

.showOwnerClose {
    position:relative;
    top:-6px;
    right: -6px;
    width: 25px;
    height:25px;
    float:right;
    display:inline-block;
    padding:2px 5px;
    /*background:#ccc;*/
    background-image: url('img/close2.png') ;
    background-repeat: no-repeat;
    cursor:pointer;
}

/*.showOwnerClose:hover {
        float:right;
        display:inline-block;
        padding:2px 5px;
        background:#ccc;
    color:#fff;
    }*/
    
.capitalize {
   text-transform: capitalize;
}

.search_logo{
    width: 80px;
    height: 90px;
    background-image: url('img/search.png') ;
    background-repeat: no-repeat;
}

.profile_logo{
    width: 80px;
    height: 90px;
    background-image: url('img/profile.png') ;
    background-repeat: no-repeat;
}

.mybooks_logo{
    width: 80px;
    height: 90px;
    background-image: url('img/mybooks.png') ;
    background-repeat: no-repeat;
}