    <div>
<form name="addBookForm"
ng-submit="addBookCtrl.addbook()">
<input type="text"
       name="titolo"
       class="titolo"
placeholder="titolo"
ng-model="addBookCtrl.book_data.title"
required
>

<input type="text"
placeholder="autore"
name="autore"
class="autore"
ng-model="addBookCtrl.book_data.author"
required
>
<input type="text"
placeholder="commento"
ng-model="addBookCtrl.book_data.comment"
>
<input type="text"
placeholder="note"
ng-model="addBookCtrl.book_data.note"
>
<input type="submit"
value="Aggiungi libro"
ng-disabled="addBookForm.$invalid">
</form>
</div>