<div class="content">
        
<div class="search_logo pull-left"></div>
<div class="pull-right">    

<div class="btn-group" role="group" aria-label="...">
<a class="btn btn-default active" href="#/books" role="button">Ricerca libri</a>
<a class="btn btn-default" href="#/mybooks" role="button">Gestione libri</a>
<a class="btn btn-default" href="#/myprofile" role="button">Gestione profilo</a>
  
</div>
</div>
  <div class="row">
  <div class="col-md-12">          
        <form name="searchBookForm"
ng-submit="bookCtrl.searchbook()">
<input type="text"
placeholder="Ricerca per autore o titolo"
ng-model="bookCtrl.search_data"
required
>

<input type="submit"
value="Cerca"
ng-disabled="searchBookForm.$invalid">
<span  ng-show="bookCtrl.loading">
        <div class="loading"></div>
        </span>
</form>
        <br>
        <table class="table table-bordered">
                <thead> <tr> <th>Autore</th> <th>Titolo</th> <th>User</th><th>Commento</th> </tr> </thead>
                <tr dir-paginate="book in bookCtrl.books | itemsPerPage: 10" >
                        <td>
                             <span class="status" ng-bind="book.author"></span>   
                        </td>
                        <td>
                             <span class="status" ng-bind="book.title"></span>   
                        </td>
                         <td width="200px";>
                              <a ng-bind="book.owner_username" ng-mouseover="bookCtrl.showOwner(book.id,book.owner_username)"></a>
                              <div class="showOwner" ng-show="bookCtrl.viewuser[book.id]">
                                <div ng-click="bookCtrl.hideOwner(book.id)" class='showOwnerClose'></div>
                                <strong>Tel: </strong><span  ng-bind="bookCtrl.viewOwnerDetails[book.id].phone"></span> <br>
                                <strong>Email: </strong><span  ng-bind="bookCtrl.viewOwnerDetails[book.id].email"></span> <br>
<!--                                <button ng-click="bookCtrl.hideOwner(book.id)">Chiudi</button>
-->                              </div>
                        </td><td>
                             <span class="status" ng-bind="book.comment"></span>   
                        </td>
                        
                       
                </tr>
        </table>
       <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
  </div>