<div class="content"><div class="login_logo pull-left">
         
</div>
<div class="pull-right">    

<div class="btn-group" role="group" aria-label="...">
<a class="btn btn-default" href="#/books" role="button">Ricerca libri</a>
<a class="btn btn-default active" href="#/mybooks" role="button">Gestione libri</a>
<a class="btn btn-default" href="#/myprofile" role="button">Gestione profilo</a>
  
</div>
</div>
  <div class="row">
  <div class="col-md-12"> 
Eliminare  <strong>{{deleteBookCtrl.book_data.title}}</strong> ?
<button ng-click="deleteBookCtrl.deletebook()">OK</button>
<button back>Annulla</button>
</div>
     </div>
   </div>