
    <div class="content">
         <div class="row">

      <div class="col-md-6">
          <div class="introBox" style="width: 80%">
         <p><strong>Colibrì </strong>è un sistema per facilitare la condivisione e lo scambio di libri.</p>
         <p>Una volta iscritto puoi inserire i libri che vuoi condividere con gli altri, cercare libri che ti interessano e contattare il proprietario per organizzare lo scambio </p>
         <p>In questo momento puoi cercare tra {{count}}
         <strong><span  ng-bind="signinCtrl.count"></span></strong>
         libri.</p>
         <p>Registrati, utilizzando il form nel box accanto, e inizia a cercare e condividere libri.</p>
         <p>O accedi utilizzando il tuo account Google .</p>
<!--         <a href="/login/facebook/"><img src="/static/css/img/fb_login.jpeg"></a><br>
-->          <a href="/login/google-oauth2/"><img src="/static/css/img/google_login.jpeg"></a><br>
          </div>
  </div>
    <div class="col-md-6">

        
    <span ng-hide="signinCtrl.showLogin">
     
        <div class="formBox" style="width: 80%">
          <h4><strong>Registrazione</strong></h4>
<form class="form-horizontal" name="signinForm" ng-submit="signinCtrl.signin()">
    <div class="form-group">
    <label for="user" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-4">
      <input type="text" name="username" class="input-mandatory" placeholder="Username" ng-model="signinCtrl.signin_data.username" 
required ng-minlength="4">

      <div ng-show="signinForm.username.$error.minlength">
Lunghezza minima 4 caratteri
</div>
    </div>
    </div>
    
        <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" name="email" class="input-mandatory" placeholder="email" ng-model="signinCtrl.signin_data.email"
required>

<div ng-show="signinForm.email.$error.email">
Inserire un indirizzo email valido
</div>
    </div>
    </div>
    
  <div class="form-group">
    <label for="Password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" name="password" class="input-mandatory"  placeholder="Password" ng-model="signinCtrl.signin_data.password"
required>

    </div>
    
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-3 control-label">Conferma Password</label>
    <div class="col-sm-4">
      <input type="password" name="password_confirmation" class="input-mandatory"  placeholder="Conferma Password" ng-model="signinCtrl.signin_data.password_confirmation" password-match="signinCtrl.signin_data.password"
required>

       <div class='msg-error' ng-show='signinForm.password_confirmation.$error.unique'>
    Le passwords devono essere uguali
  </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-default" ng-disabled="signinForm.$invalid">Registrati</button>
    </div>
  </div>
  
</form>

    <p  style="white-space: pre;color: red;">
<strong><span ng-bind="signinCtrl.errResponse">
    </strong>
</p>
        </div>
</span>

<span ng-show="signinCtrl.showLogin">
    Una mail con le credenziali inserite è stata inviata a:<strong>
    <span ng-bind="signinCtrl.signin_data.email"></span>
    </strong>.<br>
    Se non la trovi, controlla che non sia finita tra lo spam.<br><br>
    <h3>Accedi a CoLibri !</h3>
    
    <div ng-controller="userController as loginCtrl">
       <div class="formBox" style="width: 80%"> 
<form class="form-horizontal" name="loginForm" ng-submit="loginCtrl.login()">
      <div class="form-group">
    <label for="user" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-4">
      <input type="text" class="input-mandatory" placeholder="Username" ng-model="loginCtrl.login_data.username"
required>
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="input-mandatory"  placeholder="Password" ng-model="loginCtrl.login_data.password"
required>
    </div>
  </div>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Accedi</button>
    </div>
  </div>

</form>
</div>
       </div>
</span>
 </div>
  </div>
          </div>
