    <div class="content">

      <div class="login_logo"></div>
     
     Recupero Password

      <div class="formBox">
<form class="form-horizontal" name="lostpasswordForm" ng-submit="lostpasswordCtrl.resetPassword()">
      <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="input-mandatory" placeholder="email" ng-model="lostpasswordCtrl.request.email"
required>
    </div>
  </div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-disabled="lostpasswordCtrl.$invalid">Invio</button>
    </div>
  </div>

</form>
      </div>
      <div>
        <span class="text-success" ng-bind="lostpasswordCtrl.response"></span>
    </div>
    <div>
        <span class="text-danger" ng-bind="lostpasswordCtrl.errResponse"></span>
    </div>
    </div>