<div class="content" >
<div class="mybooks_logo pull-left">
         
</div>
<div class="pull-right">    

<div class="btn-group" role="group" aria-label="...">
<a class="btn btn-default" href="#/books" role="button">Ricerca libri</a>
<a class="btn btn-default active" href="#/mybooks" role="button">Gestione libri</a>
<a class="btn btn-default" href="#/myprofile" role="button">Gestione profilo</a>
  
</div>
</div>
  <div class="row">
  <div class="col-md-12"> 
            
    
    
 <a href="#/addbook"><button>Aggiungi un libro</button></a>

     

       
        <table class="table table-bordered">
                <thead> <tr> <th>Autore</th> <th>Titolo</th> <th>Commento</th> <th>Note</th> </tr> </thead>
                <!--<tr ng-repeat="book in myBookCtrl.books">-->
                <tr dir-paginate="book in myBookCtrl.books | itemsPerPage: 10" >
                        <td>
                             <span class="capitalize" ng-bind="book.author"></span>   
                        </td>
                        <td>
                             <span  ng-bind="book.title"></span>   
                        </td>
                         <td>
                             <span  ng-bind="book.comment"></span>   
                        </td>
                        <td>
                             <span  ng-bind="book.note"></span>   
                        </td>
                        <td>
                             <a ng-href="#/updatebook/{{book.id}}">Modifica</a> 
                        </td>
                        <td>
                            <a ng-href="#/deletebook/{{book.id}}">Elimina</a> 
                        </td>
                </tr>
        </table>
        <!--<span class="status" ng-bind="book.author"></span>
        <span class="status" ng-bind="book.title"></span>-->
       <dir-pagination-controls></dir-pagination-controls>
    </div>
   </div>
   </div>