<div class="content">
<form name="updateBookForm"
ng-submit="updateBookCtrl.updatebook()">
<input type="text"
placeholder="titolo"
class="titolo"
ng-model="updateBookCtrl.book_data.title"
required
>
<input type="text"
placeholder="autore"
class="autore"
ng-model="updateBookCtrl.book_data.author"
required
>
<input type="text"
placeholder="commento"
ng-model="updateBookCtrl.book_data.comment"
>
<input type="text"
placeholder="note"
ng-model="updateBookCtrl.book_data.note"
>
<input type="submit"
value="Modifica libro"
ng-disabled="updateBookForm.$invalid">
</form>
</div>
<div>
    <span ng-bind="updateBookCtrl.response"></span>
</div>