<div class=" content">
      <div class="mybooks_logo pull-left">
         
      </div>
<div class="pull-right">    

<div class="btn-group" role="group" aria-label="...">
<a class="btn btn-default" href="#/books" role="button">Ricerca libri</a>
<a class="btn btn-default active" href="#/mybooks" role="button">Gestione libri</a>
<a class="btn btn-default" href="#/myprofile" role="button">Gestione profilo</a>
  
</div>
</div>

       <div class="row">
      <div class="col-md-12">
     <div class="row">
             <div class="col-md-9">
                <div class="formBox">
<form class="form-horizontal" name="updateBookForm"
ng-submit="updateBookCtrl.updatebook()">
<div class="form-group">
    <label for="autore" class="col-sm-3 control-label">Autore</label>
    <div class="col-sm-4">
<input type="text" placeholder="autore" class="input-mandatory" ng-model="updateBookCtrl.book_data.author" required>
    </div>
</div>
<div class="form-group">
    <label for="titolo" class="col-sm-3 control-label">Titolo</label>
    <div class="col-sm-4">
<input type="text" placeholder="titolo" class="input-mandatory" ng-model="updateBookCtrl.book_data.title" required>
    </div>
</div>


<div class="form-group">
    <label for="commento" class="col-sm-3 control-label">Commento</label>
    <div class="col-sm-4">
<textarea placeholder="commento" class="input-mandatory" ng-model="updateBookCtrl.book_data.comment" ></textarea> 
    </div>
</div>

<div class="form-group">
    <label for="note" class="col-sm-3 control-label">Note</label>
    <div class="col-sm-4">
<textarea placeholder="note" class="input-mandatory" ng-model="updateBookCtrl.book_data.note" ></textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-default" ng-disabled="updateBookForm.$invalid">Modifica</button>
    </div>
  </div>
</form>
</div>
   </div>
  <div class="col-md-3">   
<div>
    <span class="text-success" ng-bind="updateBookCtrl.response"></span>
</div>
   </div>
   </div>
       </div>
        </div>
       </div>