{% extends "base.html" %}
{% block content %}
    <article>
        <h1>Aggiungi un libro</h1>

        <form id="book_form" method="post" action="/add_book/">

            {% csrf_token %}
            <input type="hidden" name="id_user" value="1" />
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text}}
                {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Aggiungi Libro" />
        </form>
        </article>
{% endblock content %}