<!DOCTYPE html>

{% load static %}



<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static "assets/css/normalize.css" %}" /> <!-- CSS -->
        <link rel="stylesheet" href="{% static "assets/css/main.css" %}" /> <!-- CSS -->
        <script src="{% static "assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">CoLibri</h1>
              <nav>
                    <ul>
                        <!--<li><a href="/mybooks/" >I miei libri</a></li>
                        <li><a href="#" >Il mio profilo</a></li>
                        <li><a href="/logout/">Logout</a></li>-->
                                         
                        
                    </ul>
                    
                </nav><br>
              
            </header>
            
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                {% block content %}
                <article>
                    <section>
                        
                        <div id="Search">
                            <div class="searchIntest">
                       <strong>Autore</strong>    <br>
                           <input id ="authorSearch" type="text"><br>
                            </div>
                            <div class="searchIntest">
                         <strong>Titolo</strong>  <br> <input id ="titleSearch" type="text"><br>
                            </div>
                            
                            <div class="searchIntest">
                                <br>
                           <button onclick=getBooks()>Cerca</button>
                            </div>
                        </div>
                      <div style="clear: both;" id="Intestazione">  </div>
                      
                        <div class="bookIntest">Autore</div>
<div class="bookIntest">Titolo</div>
<div class="bookIntest">Dove sta</div>
<div id="BooksContainer">
    <div id="Books">    </div>
    <div style="clear: both;"   </div>
</div>
                  
                    </section>
                   
                </article>
{% endblock content %}
                <aside id="userMenu">
                    <h4>Ciao {{user}} !</h4>
                     <ul>
                        <li><a href="/" >Cerca libri</a></li>
                        <li><a href="/add_book/" >Inserisci libro</a></li>
                        <li><a href="/mybooks/" >I miei libri</a></li>
                        <li><a href="#" >Libri in prestito</a></li>
                        <li><a href="/update_profile" >Il mio profilo</a></li>
                        <li><a href="/logout/">Logout</a></li>
                                         
                        
                    </ul>
                       <!-- <a name="insert_book">
                           <p class="formText"><strong>Inserisci un libro:</strong></p>
                           Titolo<br> <input id ="title" type="text"><br>
                           Autore<br> <input id ="author" type="text"><br>
                           Dove sta<br> <input id ="where_is" type="text"><br>
                           <button onclick=postBook()>Ok</button>
                           <div class="formText" id ="formError"></div>
                        </a>-->
                </aside>
    
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                
            </footer>
        </div>
{% block templates %}
<script id="templateBooksCounter" type="text/template">
<strong><%= item %>  </strong><%= count %>
</script>
<script id="templateBook" type="text/template">
<div class="book" >
<div class="bookField"><%= book.author %></div>
<div class="bookField"><%= book.title %></div>
<div class="bookWhereIs"><input id="where_is_<%= book.id %>" style="width: 90%" type=text value="<%= book.dove_sta %>"></div>     
<div class="bookUpdate">
<a href="take_book/<%= book.id %>">
<button class="updateBookButton" id="<%= book.id %>">Mi interessa</button> </div>
</a>
</div>
</script>
{% endblock templates %}
        <script src="{% static "assets/js/vendor/jquery.js" %}"></script>
        <script src="{% static "assets/js/vendor/underscore.js" %}"></script>
        {% block scripts %}

        {% endblock scripts %}
    </body>
</html>
