{% extends "base.html" %}
{% load static %}
{% block content %}

                <article>
                              <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" width="50px" />
            <br />
            Password: <input type="password" name="password" value="" width="50px" />
            <br />

            <input type="submit" value="Login" />
        </form>
        <br>
            <a href="/register/">Registrati adesso</a>
                              
                </article>
{% endblock content %}