{% extends "base.html" %}
{% load static %}
  {% block content %}
                <article>
                    <section>
                     <h2>I miei libri</h2>   

                      <div style="clear: both;" id="Intestazione">  </div>
                      
                        <div class="bookIntest">Autore</div>
<div class="bookIntest">Titolo</div>
<div class="bookIntest">Dove sta</div>
<div id="BooksContainer">
    <div id="Books">    </div>
    <div style="clear: both;"   </div>
</div>
                  
                    </section>
                   
                </article>
{% endblock content %}
{% block templates %}
    <script id="templateBooksCounter" type="text/template">
<strong><%= item %>  </strong><%= count %>
</script>
<script id="templateBook" type="text/template">
<div class="book" >
<div class="bookField"><%= book.author %></div>
<div class="bookField"><%= book.title %></div>
<div class="bookField"><%= book.where_is %></div>     
<div class="bookUpdate"><a href="/update_book/<%= book.id %>/"><button class="updateBookButton">Modifica</button></a>  </div> 
<div class="bookUpdate"><a href="/delete_book/<%= book.id %>/"><button class="updateBookButton">Elimina</button></a>  </div> 

</div>
</script>
{% endblock templates %}
{% block scripts %}
<script src="{% static "assets/js/main.js" %}"></script>
<script type="text/javascript">
$( document ).ready(function() {
    getMyBooks('{{user}}');                        
});
</script>
{% endblock scripts %}