{% extends "base.html" %}
{% load static %}
{% block content %}

                <article>
                              <h1>Registrati a ColiBri</h1>

        {% if registered %}
        ColiBri says: <strong>Benvenuto su Colibri!</strong>
        <a href="/login/">Procedi con il login</a><br />
        {% else %}
        <strong>Registrati adesso!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
                </article>
{% endblock content %}