{% extends "base.html" %}
{% load static %}
{% block content %}
<article>
        <h2>Prendi in prestito libro</h2>
        <div>
        <strong>Autore:</strong> {{ book.author }} <br>     
        <strong>Titolo:</strong> {{ book.title }}  <br>     
        </div>
        
        <div>
        <strong>Da chi sta:</strong> {{ borrower.username }} <br>     
        </div>
        
        <div>
          Contatta   {{ borrower.username }}:<br>
          <img src="{% static "images/mail.png" %}" width=32 height=20></img>
{{ borrower.email }}<br>
<img src="{% static "images/phone.png" %}" width=20 height=32></img>
{{ borrower_phone }}
<br>
                
        </div>


Se hai già contattato {{ borrower.username }} e  preso il libro
clicca sotto per aggiornare i dati.
<a href="/confirm_book/{{ book.id }}">
 <button>Ok</button>       
</a>

    </article>
{% endblock content %}