<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static "css/normalize.css" %}" /> <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/main.css" %}" /> <!-- CSS -->
        <script src="{% static "js/vendor/jquery-1.10.1.min.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Including Static Media</h1>
        <img src="{% static "rango.jpg" %}" alt="Picture of Rango" /> <!-- Images -->
    </body>

</html>