<!DOCTYPE html>
  {% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1">
        <meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
    <title>Colibri Manager</title>
    <link href="{% static "assets/css/bootstrap.css" %}"rel="stylesheet">
    <link href="{% static "assets/css/application.css" %}"rel="stylesheet">
      <link href="{% static "assets/css/colibri.css" %}"rel="stylesheet">
    <link href="{% static "assets/css/jquery-ui-1.10.0.custom.css" %}"rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<!--    <link href="{% static "assets/css/fonts/glyphicons-halflings-regular.eot" %}"rel="stylesheet">
    <link href="{% static "assets/fonts/glyphicons-halflings-regular.svg" %}"rel="stylesheet">
    <link href="{% static "assets/fonts/glyphicons-halflings-regular.ttf" %}"rel="stylesheet">
    <link href="{% static "assets/fonts/glyphicons-halflings-regular.woff" %}"rel="stylesheet">-->

    <style type=text/css>
    body {
      padding-top: 70px;
      background-color: #ffffff;
    }

      .navbar {
  
      background-color: #FE9A2E; /* it's flat*/
      background-image: none;
      }
      
@media (max-width: 980px) {
.navbar-default .navbar-brand {
color: #777;
background-image: url({% static "assets/css/images/logo.gif" %});
background-repeat: no-repeat;
background-size: 100px 26px;
min-width: 100px;
min-height: 26px;
}

    </style>

  </head>
{% block body %}
{% endblock  %}
</html>
